body {
    margin: 0px;
    background-color: #d5dde0;
}

#topLine {
    background-color: #a73f01;
    height: 30px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#header {
    background-color: #f6f6f6;
    height: 200px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#headContent {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}

#titleArea #slug{
    float: left;
}

#titleArea img {
    float: left;
}

#titleArea #slug {
    margin-left: 30px;
    margin-top: 10px;
}

#titleArea h3 {
    color: #7c7f99;
}

#titleArea h1 {
    color: #393644;
}

#postAuthor {
    font-style: italic;
}

footer {
    background-color: black;
    margin-top: 60px;
}

#menu {
    margin: 0px;
}

#menu li{
    display: inline-block;
    margin: 0px;
    padding: 20px;
    background-color: #a73f01;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.currentPage {
    height: 60px;
}

#menu li:hover {
    background-color: #833000;
    height: 60px;
}

#menu li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#menuFooter {
    margin: 0px;
    padding: 0px;
}

#menuFooter li{
    display: block;
    width: 100px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#menuFooter li a:hover {
    color: #b5b5b5;
}

#menuFooter li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#headContent img {
    width: 175px;
    padding-top: 10px;
    border-radius: 100%;
}

#latestContent {
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 60px;
    border-radius: 25px;
}

#latestPosts {
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 60px;
    border-radius: 25px;
}

#post {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
}

#post img {
    width: 100%;
    margin: 20px;
}

#postPage {
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
}

#postPage img {
    width: 90%;
    margin: auto;
}

#textArea {
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
}

#textAreaPost {
    margin: auto;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 1.5rem;
}

#readPost {
    width: 150px;
    height: 50px;
    border: 0px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #a73f01;
    color: white;
    border-radius: 25px;
    margin-bottom: 20px;
}

#readPost:hover {
    background-color: #782c00;
    cursor: pointer;
}

#sectionHeading {
    padding: 20px;
    padding-bottom: 0px;
    font-size: 3rem;
    margin-bottom: 0px;
    text-align: center;
}

#postTitle {
    padding: 20px;
    padding-bottom: 0px;
    font-size: 3rem;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 10px;
}

#modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(167,63,1,0.5);
}

#modal img {
    height: 70%;
    position: relative;
    margin: auto;
    top: 15%;
    display: block;
    cursor: pointer;
}

#navigationBtn {
    border: 0px;
    border-radius: 25px;
    background-color: #a73f01;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 30px;
    margin: 10px;
}

#navigationBtn:hover {
    cursor: pointer;
    background-color: #782c00;
}

#showMore {
    width: 250px;
    height: 50px;
    border: 0px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #a73f01;
    color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 25px;
    display: block;
}

#showMore:hover {
    background-color: #782c00;
    cursor: pointer;
}

#error {
    color: #782c00;
    text-align: center;
    padding: 20px;
}

#sliderNav {
    display: block;
    width: 100px;
    margin: auto;
}

#container {
    padding-bottom: 30px;
}

form {
    width: 70%;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=submit] {
    background-color: #a73f01;
    color: white;
    border: none;
    width: 200px;
    border-radius: 25px;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #833000;
}

.error {
    font-size: 1rem;
    display: none;
    color: #833000;
}

@media only screen and (max-width: 1376px) {
    #headContent {
        width: 100%;
    }

    #headContent img {
        margin-left: 20px;
    }

    #menu {
        position: absolute;
        right: 20px;
        top: 30px;
    }
}

/*Mobile css changes*/
@media only screen and (max-width: 1008px) {
    #header {
        height: 100%;
    }

    #headContent {
        width: 100%;
        grid-template-columns: repeat(1, minmax(0,1fr));
        margin: 0px;
    }

    #titleArea img {
        display: block;
        margin: auto;
        float: none;
    }

    #titleArea h1 {
        text-align: center;
    }

    #titleArea h3 {
        text-align: center;
    }

    #titleArea #slug {
        float: none;
        margin: 0px;
    }

    #menu li {
        background-color: #f6f6f6;
        display: block;
        text-align: center;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 0px;
    }

    .currentPage {
        height: auto;
        text-decoration: underline;
    }

    #menu li:hover {
        background-color: #f6f6f6;
        display: block;
        height: auto;
    }

    #menu {
        margin: auto;
        padding: 0px;
        width: 100%;
        position: relative;
        right: 0px;
    }

    #menu li a {
        color: #a73f01;
    }

    #menu li a:hover {
        color: #833000;
    }

    #post {
        grid-template-columns: repeat(1, minmax(0,1fr));
    }

    #post img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    #sectionHeading {
        font-size: 2rem;
    }
    
    #textArea {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    #textArea h1 {
        text-align: center;
    }

    #textArea p {
        text-align: center;
    }

    #readPost {
        display: block;
        margin: auto;
    }

    #textArea a {
        text-decoration: none;
    }

    #textAreaPost {
        text-align: center;
        font-size: 1rem;
        margin: 20px;
    }

    form {
        text-align: left;
        display: block;
        margin: auto;
    }

    #latestContent {
        width: 100%;
        border-radius: 0px;
    }

    #latestPosts {
        width: 100%;
        border-radius: 0px;
    }

    input {
        width: 100%;
    }

    #navigationBtn {
        width: 60px;
        height: 60px;
        display: block;
        margin: auto;
        padding: 0px;
        border-radius: 100%;
    }

    #sliderNav {
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
        width: 150px;
    }
}